body {
  background-color: rgb(186, 212, 236);
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 90px;
  margin-right: 90px;
}

head {
  background-color: #ebdfec;
}

h1,
h2,
h3 {
  clear: both;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

h4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 a {
  color: #bb8800;
}

ul p {
  margin: 1ex auto;
  width: 100%;
  font-weight: bolder;
  float: right;
  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(241, 139, 125);
  border-radius: 50px 50px 50px;
  padding: 2ex 1ex;
  border: 2px solid #131212;
  width: 10%;
  overflow: auto;
  text-align: center
}


nav ul {
  margin: 4ex auto;
  margin-left: 5px;
  font-weight: bolder;
}

nav ul li {
  display: block;
  width: 100%;
  margin-top: 1ex;
}

nav ul li a {
  display: block;
  border-radius: 50px 50px 50px;
  padding: 10ex 2ex;
  border: 2px solid #131212;
  width: 20%;
  overflow: auto;
  text-align: center;
  margin: 1ex auto;

  font-weight: bolder;
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(41, 44, 202);
  border-radius: 30px 30px 30px;
  padding: 1ex 1ex;
  border: 2px solid #131212;
  overflow: auto;
  text-align: center;
}

nav img {

  margin-left: auto;
  text-align: left;
  float: left;
  margin: 1ex auto;
  width: 100%;
  font-weight: bolder;

  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px;
  padding: 0ex 0ex;
  border: 2px solid #131212;
  width: 10%;
  overflow: auto;
  text-align: center
}

form {
  text-align: center;

}

footer {
  padding: 0.1ex 2em;
  margin-top: 2em;
  border-top: solid 2px #FACC15;
  background-color: #ecc8f0;
}

.login {
  display: inline-block;
  width: 30%;
  border: rgb(233, 230, 227) solid 2px;
  padding: 1ex;
}

.odd {
  background-color: orange;
}

.even {
  background-color: lightblue;
}

.message {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
}

.success {
  background-color: rgb(163, 231, 236);
  border: 1px solid #3e0b81;
}

.error {
  background-color: rgb(236, 119, 119);
  border: 1px solid #911515;
}

/*# sourceMappingURL=styles.css.map */

.zprava {
  background-color: rgb(253, 236, 250);
  padding: 0.12rem;
  margin: 20px 0px;
  border-radius: 20px;
  border: solid 1px rgb(71, 70, 71);


}

.cas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

.telo {
  margin-left: 40px;
}

.vymazat {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.hlavni {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  



}

.pravo {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(241, 139, 125);
  border-radius: 15px;
  padding: 2ex 1ex;
  border: 2px solid #131212;
  flex-direction: column;
}

.levo {

  height: 100%;
  gap: 15px;
  display:flex ;
  
  

}

.button {
  display: flex;
  padding: 15px;

  border: 1px solid #131212;
  
  font-weight: bolder;

  color: rgb(201, 238, 245);
  background-color: rgb(41, 44, 202);
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.link{

  color: rgb(201, 238, 245);

}
.bunka-org{
  max-width: 800px;
  text-wrap: wrap;
  word-wrap: break-word;
  border: 1px solid black;
  padding: 8px;



}
.bunka-short{

  border: 1px solid black;
  padding: 8px;




}