<html lang="cs">

<head>
  <meta charset="utf-8">

  <title>{%block title%}Moje stránka{%endblock%}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <p class="message {{category}}">{{message}} </p>
  {% endfor %}
 

  <div class="hlavni">

    <div class="levo">
      <div class="button">
        <a href="{{ url_for('zkracovac') }}" class="link">Zkracovač URL</a>
      </div>
      <div class="button">
        <a href="{{ url_for('historie') }}" class="link">Historie</a>
      </div>
    </div>
    <div class="pravo">
      {% if 'user' in session %}
      Uživatel: {{session['user']}}.
      <a href="{{url_for('logout')}}">LOGOUT</a>
      <a href="{{ url_for('registration') }}">REGISTRACE</a>


      {% else %}
      Nikdo není příhlášen
      <a href="{{url_for('login')}}">LOGIN</a>
      <a href="{{ url_for('registration') }}">REGISTRACE</a>
      {% endif %}
    </div>

  </div>

  {% block obsah%}{% endblock %}

</body>

</html>