{% extends 'base.html' %}

{%block title%}LOGIN{%endblock%}

{% block obsah %}

<table style="border-collapse: collapse;">
    <tr>
        <th style="text-align: left; width:5px">Toto je tvoje původní adresa</th>
        <th style="text-align: left;width:20px">Toto je tvoje zkracená adresa</th>
    </tr>
    {% for x in urla %}
    <tr>
        
        <td class="bunka-org">{{x[0]}}</td>
        <td class="bunka-short">http://127.0.0.1:54321/smerovac/{{x[1]}}</td>

    </tr>

        {% endfor %}
    <tr>

    </tr>


</table>

{% endblock obsah %}