{% extends 'base.html' %}

{%block title%}LOGIN{%endblock%}

{%block obsah%}
<h1>Zkračovač</h1> 
<form method="POST">
 <textarea name="url"  cols="120" rows="1">

 </textarea>
            <p>
            <button type="submit">Vygeneroval nové URL</button>
            </p>
</form>

{% if shorturl and url  %}
    <p>Toto je tvoje vygenerované zkrácené url: <a href="http://127.0.0.1:54321/smerovac/{{shorturl}}">http://127.0.0.1:54321/smerovac/{{shorturl}}</a> pro {{url}}</p> 
    
{% endif %}
 
{% endblock obsah %}
